@font-face {
    font-family: chinese_rocks;
    src: url("../font/chinese_rocks.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../font/roboto.ttf");
}

body{
    background-color: rgb(33, 33, 34);
    color: rgb(238, 240, 241);
    background-image: url("../img/background.png");
    background-position: top;
    background-repeat: repeat-y;
    background-size: cover;
    font-family: roboto;
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

.main_container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.title_block{
    display: grid;
    margin: 40px 0 100px 0;
}

.title_block .title{
    font-family: chinese_rocks;
    font-size: 100px;
    color: rgb(191, 255, 40);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6), 3px 3px 10px rgba(0,0,0,.4);
    filter: drop-shadow(inset 5px 5px rgba(0,0,0,0.8));

}

.txt_relief{
    font-family: chinese_rocks;
    position: absolute;
    color: rgb(21, 200, 245);
    left: 0;
    top: -130px;
    z-index: -1;
    font-size: 400px;
    width: 100vw;
    min-height: 600px;
    overflow: hidden;

    pointer-events: none;

    mix-blend-mode: color-dodge;

    /* background: -webkit-linear-gradient(200deg, rgb(21, 245, 197) 0%, rgb(43, 177, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

    /* text-shadow: 4px 4px rgb(32, 32, 32); */
}

.txt_relief div{
    /* transform: rotate(-2deg) translateX(-100px); */
    transform: rotate(-2deg) translateX(-10px);
    margin-bottom: -200px;
}

.title_block .tagline{
    font-family: chinese_rocks;
    font-size: 34px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.5);

    padding: 5px 15px 5px 45px;
    background: rgb(255, 10, 214);
    margin: auto;
    margin-left: -50px;
    clip-path: polygon(5% 1%, 100% 3%, 98% 92%, 0 100%);
}

.navig_bar{
    display: flex;
    flex-wrap: wrap;
    font-family: chinese_rocks;
    text-shadow: 1.5px 1.5px 0 rgba(0,0,0,0.6);
    position: relative;
    align-items: center;
    font-size: 30px;
}

.navig_bar a{
    margin: 15px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) transform 0.2s, cubic-bezier(0.215, 0.610, 0.355, 1) text-shadow 0.2s;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.navig_bar .left_bar{
    margin-left: auto;
}

.navig_bar a:hover{
    text-shadow: 3px 3px 0 rgb(255, 10, 214);
    transform: scale(1.15) rotate(-1deg);
}

.navig_bar .or:hover{
    text-shadow: 3px 3px 0 rgb(255, 142, 35);
    transform: scale(1.15) rotate(1.8deg);
}


.navig_bar .blu:hover{
    text-shadow: 3px 3px 0 rgb(5, 134, 240);
    transform: scale(1.15) rotate(1.5deg);
}

.navig_bar .purp:hover{
    text-shadow: 3px 3px 0 rgb(154, 31, 255);
    transform: scale(1.15) rotate(-1.2deg);
}

.navig_bar .art{
    position: absolute;
    height: calc(100% - 15px);
    width: 100%;
    max-width: 580px;
    background-color: rgba(255,255,255,0.1);
    z-index: -1;
    clip-path: polygon(1% 1%, 100% 9%, 98% 88%, 0 100%);
}

.navig_bar .pfp{
    width: 36px;
    height: 36px;
    margin: auto 7px;
    /* clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%); */
    box-shadow: 3px 3px 0 rgba(0,0,0,.4);
}

.navig_bar .at{
    color: rgb(191, 255, 40);
    margin: 4px;
}

/* Page content */

.page_content{
    margin: 50px 0;
    display: grid;
}

.page_content .box{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    margin: 20px;
    background-color: rgba(0,0,0,0.2);
}

.box .title{
    font-size: 28px;
}

.page_content .title_box{
    max-width: 750px;
    transform: rotate(-2deg);
    border-left: 3.5px solid rgb(204, 102, 252);
}

.p_header{
    margin: 15px;
}

.p_header .title{
    font-size: 68px;
    margin-left: 10px;
    font-family: chinese_rocks;
    color: rgb(204, 102, 252);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);
}

.p_header .subtitle{
    font-size: 18px;
}

.page_content .inner_content{
    margin: 30px 20px;
}

.page_content .inner_content_faq{
    margin-top: -30px;
    padding-top: 60px;
    background-image: url("../img/path_faq4.svg");
    background-position: top;
    background-size: cover;
}

.page_content .qna_box{
    max-width: 530px;
    position: relative;
    padding: 20px;
    margin: 30px 20px;
    box-shadow: 3px 3px 0 rgba(0,0,0,.45);
    cursor: pointer;
    transition: transform 0.3s;
}

.page_content .qna_box:hover{
    /* transform: scale(1.02); */
}

.page_content .qna_box .title{
    margin-left: 36px;
}

.page_content .qna_box_l{
    margin-left: auto;
    transform: rotate(-1deg);
}

.page_content .qna_box_r{
    margin-right: auto;
    transform: rotate(1deg);
}

.qna_box .q_number{
    position: absolute;
    left: -40px;
    font-size: 64px;
    width: 76px;
    height: 76px;
    border-radius: 100px;
    top: -20px;
    font-family: chinese_rocks;
    background-color: rgb(204, 102, 252);
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4),
                2px 2px 0px rgb(136, 71, 163);
    text-align: center;
    background-image: url(../img/nb_img.png);
    background-size: 120px;
    background-position: top;

    transition: cubic-bezier(0.215, 0.610, 0.355, 1)  0.2s transform;
}

.qna_box:hover .q_number{
    transform: scale(1.1) rotate(3deg) translate(-5px, -5px);
}

.qna_box .answer{
    background-color: rgba(0,0,0,0.2);
    margin: 15px -20px -20px -20px;
    padding: 30px;
    border-top: rgba(255,255,255,0.1) 2px solid;
}

.qna_box a{
    color: rgb(191, 255, 40);
    /* font-family: chinese_rocks;
    font-size: 22px; */
}

/* Home */
.home_title{
    font-family: chinese_rocks;
    font-size: 30px;
    display: flex;
    margin: 20px auto;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.4);
}

.home_title .right{
    background-color: rgba(15, 15, 15, 0.5);
    margin: auto;
    padding: 30px 40px 40px 30px;
    clip-path: polygon(1% 1%, 100% 9%, 98% 88%, 0 100%);
}

.home_title .title{
    font-size: 70px;
    color: rgb(191, 255, 40);
    margin-left: 10px;
}

.home_title span{
    color:rgb(21, 200, 245);
}